<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>1034489659689-762ecccuihdg1actvs1l3gti53f3j78f.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.1034489659689-762ecccuihdg1actvs1l3gti53f3j78f</string>
	<key>API_KEY</key>
	<string>AIzaSyAXWr0TFySn3vUpVa0aFyTWDUA4kfOzLAs</string>
	<key>GCM_SENDER_ID</key>
	<string>1034489659689</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.todo2</string>
	<key>PROJECT_ID</key>
	<string>to-do-2-9abfe</string>
	<key>STORAGE_BUCKET</key>
	<string>to-do-2-9abfe.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1034489659689:ios:a1b145030c2d1a011fb738</string>
</dict>
</plist>